body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #fff, #9face6);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
